@charset "utf-8";
/* 个人站*/

/* header.css */
.header{ width:100%; height:60px; position:fixed; top:0; left:0; z-index:1;}
.header .opa{ height:60px; width:100%; opacity:0.5; filter:alpha(opacity:50);position:fixed; top:0; left:0;background:#fff;}
.head{height:60px; margin:0 auto; position:fixed; width:100%;}
.head  .logo{ margin:0 30px;}
.head_img{ border-radius:50%; cursor:pointer; transition:all 0.5s linear; }
.head_img:hover{box-shadow:0px 0px 10px #999; transform:rotate(360deg);}
.head   img{border-radius:50%;width:60px; height:60px;}
.head_p{text-align: center;color: #000; margin:7px 0  0  15px;}
.head_p1{margin: 0px 15px 5px;padding: 5px 15px;width: 50px;border-bottom: 1px solid #333;}
.head_p2{padding: 0 15px;}
head_p2  a{ cursor:pointer;}
.head_p1:hover,.head_p2:hover{ color:#99C;}
.head_nav{ padding-right:20px; position:relative; margin-top:10px;}
.head_nav  li{ float:left;color: #666; width:88px; height:40px;text-align:center; line-height:40px;z-index:2; position:relative; font-size:15px; border-radius:5px; cursor:pointer;}
.head_nav  .box{  position: absolute; left:0;top:0; background:#fff;z-index: 1; opacity:0.4;}
/*aside.css */
.aside{ position: fixed;width: 60px;height: auto;right: 0; top: 200px; z-index:1;}
.aside  a{ width:20px; height:20px; border-radius:50%; position:relative; display:block; margin:20px 0; opacity:0;}
.round1{ background:#ffb4ae;}
.round2{ background:#ffdfb1;}
.round3{ background:#c2c8ff;}
.round4{ background:#a6e6ff;}
.round5{ background:#79dcad;}
.aside  b{ position: absolute;font-size: 10px;top:0px;line-height: 20px;right: 26px;width: 100px;padding-right: -5px;text-align: right; opacity:0;}
.active{ background:#fff;}
/*main.css */
body{ overflow:hidden;}
.home{width:100%;position: absolute; height:100%;}
#page1{ background:#f9afae; width:100%;overflow:hidden; position:relative; text-align:center;}
#page2{ background:#ffe357; width:100%;  overflow:hidden;position:relative;text-align:center;}
#page3{ background:#909ef5; width:100%;  overflow:hidden;position:relative;text-align:center;}
#page4{ background:#fcaf4a; width:100%; overflow:hidden;position:relative;text-align:center;}
#page5{ background:#79dcad; width:100%; overflow:hidden;position:relative;text-align:center;}
/*page1.css */
.home_content{ width:1000px; height:100%;top:0px;margin:0 auto; position:relative;}
.home_head{ left:50%; margin-left:-75px;position: absolute;border-radius:50%; width:150px; height:150px;top:300px; opacity:0;}
.home_head  img{ border-radius:50%;}
.home_head  img:hover{box-shadow:0px 0px 10px #ff0000;}
.home_info{ width:800px;margin-left:-400px; left:50%; top:60%;position:absolute;}
.home_info_box{font-size:16px; border-top: 2px solid #fff; line-height:38px; opacity:0;}
.home_info1{ font-size:16px;margin: 15px auto; font-weight:bold; opacity:0;}

/*page2.css */
.home_content  h3{ position:absolute; top:115px; margin-left:-150px; left:50%; width:300px; height:150px;font-size:30px; font-weight:bold;}
.skill_info{margin: 10px auto 0;width: 100%;line-height: 30px;}
.skill_info  p{ text-align:center;}
.skill_list{margin: 10px auto;width: 100%;font-size: 16px;height: 400px;}
.skill_list_cont{ float: left;margin: 0 85px;position: relative;height: 400px; opacity:0;}
.skill_list_cont  b{position: absolute;top: 10px;left: -8px;width:126%;height: 40%;background: #000;opacity: 0;transition: opacity .25s ease-in-out;cursor: pointer;}
.b_hover{transform:rotate(180deg)}
.skill_list_cont  b:hover{ opacity:0.4;}
.skill_icon{width: 80px;height: 80px;text-align: center;margin: 30px auto;}
.skill_name{position: relative; font-size:16px;}
.skill_flag{width: 20px;height: 20px;margin: 30px auto; background: url(../images/icon.png);transition:all 0.5s linear; }
.skill_int{position: absolute;top: 214px;width: 240px;height:77px;left: -100px;font-size: 14px;line-height: 20px;border: 1px solid #ccc;border-radius: 10px;padding: 20px;background: #a6d5e9;text-align:left; opacity:0; color:#333;}
.skill_int  li{font-size: 12px;padding-left: 15px;}
/*page3.css */
.btn  li{padding: 10px 20px;font-size: 15px; transition: 1s all ease;font-weight: bold;color: #fff; float: left;margin: 10px;
 background-color: #bb927e;cursor: pointer; border-radius:5px; box-shadow:0px 0px 10px #fff;}
.box_content { width:1000px;text-align:center; height:442px;}
.js_tab_li1{ width:300px; height:200px; float:left; position:relative; margin:10px; overflow:hidden; cursor:pointer;}
.box_content img{ width:300px; height:200px;}
.box_content  span { position:absolute; top:-200px; left:0;width:100%; height:100%; background:#0099cc;font-size:30px; text-align:center; line-height:200px; color:#fff; border-radius:3px; }

/*page4.css */
.demo_scale{padding-top: 40px;border-top: 2px solid #ccc;width: 950px;margin: 0 auto; position:absolute; top:380px; left:30px;}
/*page5.css */
.home_title{ width:100%; height:60px; margin-top:115px;}

.home_title h1{ width: 150px;margin: 0 auto; font-size:24px;}
.home_title  .title{width:130px; margin:15px auto; padding:5px 0; border-top:2px solid #f00;opacity:0;}
.home_title h2{ color:#f00; font-weight:bold;}
.demo_box li{width: 200px;height: 150px;margin: 25px;float: left;position: relative;box-shadow: 0 1px 4px;outline: 2px solid #efefef; opacity:0;}
.demo_box{ position:absolute; top:100px;}
.demo_box  img{ border-radius:3px;}
.demo_box_content{position: relative;overflow: hidden;cursor: pointer;}
.demo_box_hover{position: absolute;width: 100%;height: 100%; opacity:0;}
.demo_box_title{text-align: center;padding: 65px 0;font-size: 20px;position: absolute;left: 0;right: 0;top: 0;z-index:1;}
.demo_box_hover  b{background: #F00;opacity:0.5; position:absolute; top:0; left:0; width:100%; height:100%;}

.contact{margin: 40px auto 20px;width: 1000px;}
.contact_head1{ font-size:21px;}
.contact_head2{ font-size:30px; margin-top:38px;}
.col1{ color:#f00;}
.col2{ color:#3cf;}
.col3{ color:#6c0;}
.col4{ color:#f63;}
.contact_info{margin: 10px auto;padding: 40px 0 20px;width: 1000px;text-align: center;position: relative;height: 130px;}
.contact_info  p{ line-height:30px;}

.footer{ position:absolute; border-top:2px solid #fff; width:100%; text-align:center; top:370px; padding-top:10px;}
.foot{ line-height: 24px;text-align: center;color: #666;} 
.foot  a{margin: 0 5px; color:#666;}
.foot  a:hover{color: #930709;}
